<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <h1>로그인</h1>
    <form action="/loginProc" method="post">
            <input type="text" name="username" class="form-control" placeholder="아이디 입력해주세요">
            <input type="password" class="form-control" name="password" placeholder="비밀번호 입력해주세요">
        <button type="submit" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-primary" onClick="location.href='signUp'">회원 가입</button>
    </form>
    <br/>
</div>
</body>
</html>